{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="text-center my-4">AI-Powered Dental Diagnostics</h1>
    <p class="lead text-center">
        Explore the revolutionary technology of Generative Adversarial Networks (GANs) combined with Autoencoders in the realm of dental intraoral imaging. Our cutting-edge AI models are designed to assist dental professionals in accurately classifying dental caries, gingivitis, and white spot lesions, bringing a new era of precision and efficiency to dental diagnostics.
    </p>

    <p class="text-center">
        Our platform leverages the power of GANs to generate synthetic images for training and validation, enhancing the robustness of our models. With the integration of Autoencoders, we ensure the preservation of essential features, improving the accuracy of disease classification. Dive into our sections on ResNet50 and ResNet101 to see these models in action, or explore the history and architecture behind our innovative approach.
    </p>
</div>
{% endblock %}
